* {
    box-sizing: border-box;
    margin: 0;
}


body {
    margin: 0;
    font-family: 'Libre Bodoni', serif;
    background-color: rgb(166, 242, 217);
}

hr{
    width: 800px;
    margin: 0 auto;

}
header{
    width: 800px;
    text-align: center;
    border: 1px solid plum;
    margin: 10px auto;
    padding: 5px;
}

.avatar{
    width: 300px;
    height: auto;
    overflow: scroll;
}

section, footer{
    width: 1200px;
    border: 1px solid plum;
    padding: 10px;
    margin: 5px auto;
}

.field{
    clear: both;
    text-align: right;
}

.linkedinicon{
    width: 40px;
    height: auto;
}
.github{
    width: 40px;
    height: auto;
}

footer{
    padding: 20px;
}
